<div class="row mb-5">
  <div class="col-12">
    <form action="/reservar" method="post">
      <div class="input-group">
        <span class="input-group-text"><i class="fa fa-bed"></i></span>
        <select class="form-select" name="habitacion">
          {{#each habitaciones}}
            <option value="{{this.tipo}}">{{this.tipo}}</option>
          {{/each}}
        </select>
        <button class="btn btn-outline-primary" type="submit"><i class="fa fa-check"></i> Seleccionar</button>
      </div>
    </form>
  </div>
</div>

<div class="row">
  {{#each habitaciones}}
    <div class="col-12 col-md-4 mb-3">
      <div class="card">
        <img src="{{this.imagen}}" class="card-img-top" alt="{{this.tipo}}">
        <div class="card-body">
          <h5 class="card-title">{{this.tipo}}</h5>
          <p class="card-text"><strong>Precio:</strong> {{this.precio}}</p>
          <p class="card-text"><strong>Descripción:</strong> {{this.descripcion}}</p>
        </div>
      </div>
    </div>
  {{/each}}
</div>
