<body class="bg-secondary-subtle"></body>
<div class="container mt-5">
  <div class="row justify-content-center">
    <div class="col-md-6">
      <div class="card">
        <div class="card-body text-center">
          <h2 class="card-title">{{user.name}} {{user.lastName}}</h2>
        </div>
        <ul class="list-group list-group-flush">
          <li class="list-group-item"><strong>Email:</strong> {{user.email}}</li>
          <li class="list-group-item"><strong>Phone Number:</strong> {{user.phone}}</li>
          <li class="list-group-item"><strong>Address:</strong> {{user.address}}</li>
        </ul>
      </div>
    </div>
  </div>
</div>

    <div class="card mt-4">
  <div class="card-body">
    <h5 class="card-title">Reserved Room(s)</h5>
{{#if reservations.length}}
  <ul>
    {{#each reservations}}
      <li>
        Room: {{this.room.name}}
      </li>
      <li>
        Check-In Date: {{this.checkInDate}}
      </li>
      <li>
        Check-Out Date: {{this.checkOutDate}}
      </li>
      <li>
        Price: {{this.room.price}}€
      </li>
    {{/each}}
  </ul>
{{else}}
  No reservations available
{{/if}}
  </div>
</div>
<div class="col-md-12 mt-4"> 
    <div class="text-center"> 
      <a href="/payment" class="btn btn-primary">
        <i class="fab fa-cc-visa"></i> Add payment card
      </a>
</div>
</div>
<div class="card mt-4">
  <div class="card-body">
    <h5 class="card-title">Payment Information</h5>
     <ul style="font-size: 18px;"></ul>
    {{#if user.cardInfo}}
      <ul>
        <li><strong>Card Holder Name:</strong> {{user.cardInfo.cardHolderName}}</li>
         <li><strong>Card Number:</strong> {{user.cardInfo.cardNumber}}</li>
        <li><strong>Expiration Date:</strong> {{user.cardInfo.expirationDate}}</li>
      </ul>
    {{else}}
      No payment information available
    {{/if}}
  </div>
</div>

  <div class="col-md-15 mt-4"> 
      <div class="text-end"> 
        <form action="/logout" method="post">
         <button type="submit" class="btn btn-danger">Log Out</button>
        </form>
       
      </div>
    </div>
  </div>
</div>