<div class="container mt-5">
  <div class="row justify-content-center">
    <div class="col-md-6">
      <div class="card">
        <div class="card-body text-center">
          <h2 class="card-title">{{user.name}} {{user.lastName}}</h2>
        </div>
        <ul class="list-group list-group-flush">
          <li class="list-group-item"><strong>Email:</strong> {{user.email}}</li>
          <li class="list-group-item"><strong>Phone Number:</strong> {{user.phone}}</li>
          <li class="list-group-item"><strong>Address:</strong> {{user.address}}</li>
        </ul>
      </div>
    <div class="card mt-4">
  <div class="card-body">
    <h5 class="card-title">Reserved Room(s)</h5>
    {{#if reservations.length}}
      <ul>
        {{#each reservations}}
          <li>
            Room: {{this.room.name}}
            Check-In Date: {{this.checkInDate}}
            Check-Out Date: {{this.checkOutDate}}
          </li>
        {{/each}}
      </ul>
    {{else}}
      No reservations available
    {{/if}}
  </div>
</div>
  <div class="col-md-6 mt-4"> 
      <div class="text-end"> 
        <form action="/logout" method="post">
         <button type="submit" class="btn btn-danger">Log Out</button>
        </form>
       
      </div>
    </div>
  </div>
</div>