<div class="container mt-5">
  <div class="row justify-content-center">
    <div class="col-md-6">
      <div class="card">
        <div class="card-body text-center">
          <h2 class="card-title">{{user.name}} {{user.lastName}}</h2>
        </div>
        <ul class="list-group list-group-flush">
          <li class="list-group-item"><strong>Email:</strong> {{user.email}}</li>
          <li class="list-group-item"><strong>Número de Teléfono:</strong> {{user.phone}}</li>
          <li class="list-group-item"><strong>Dirección:</strong> {{user.address}}</li>
        </ul>
      </div>
      <div class="card mt-4">
  <div class="card-body">
    <h5 class="card-title">Habitación Reservada</h5>
         Habitación: {{this.room.name}}
  </div>
</div>
    </div>
    <a href="/login" class="btn btn-danger">Cerrar Sesión</a>
  </div>
</div>